* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    background-color: rgb(10, 5, 20);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.nameLogo {
    font-size: 2em;
    color: #fff;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

.navigation a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    position: relative; /* Ensure the ::after element is positioned correctly */
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 105%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.6s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

header .menuLogo {
    font-size: 1.5rem;
    color: #f2fcec;
    display: none;
    cursor: pointer;
}

.navigation1 {
    display: none;
    background-color: #008;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 98;
}

.navigation1 a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 0;
}

/* Keep the hover effect for .navigation1 links */
.navigation1 a::after {
    content: '';
    position: absolute;
    width: 105%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.6s;
}

.navigation1 a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

@media (max-width: 830px) {
    header {
        padding: 18px 30px 18px 30px;
        background-color: #008;
    }

    .nameLogo {
        font-size: 1.5em;
    }

    .navigation {
        display: none;
    }

    header .menuLogo {
        display: block;
    }
}

 #home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cool.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 50px rgb(56, 55, 55);
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    height: auto;
}

/* 
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 50px rgb(56, 55, 55);
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    height: auto;
    z-index: 1; 
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cool.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
    border-radius: 15px; 
}
 */
.nameIntro {
    font-size: 2.4rem;
    font-weight: 600;
    color: #f2fcec;
}

.intro h1 {
    color: #fff;
    font-size: 1rem;
    margin: 10px 20px 10px 0;
    font-weight: 400;
}

.auto-type {
    color: #fff724;
}

.box img {
    border-radius: 80px;
    height: 320px;
    width: auto;
    margin: 20px 0;
}

/* Resume */
#resume {
    padding: 50px;
    background-color: rgb(20, 4, 54);
    border: 35px solid rgb(10, 5, 20) ;
    border-radius: 20px;
    color: #f2fcec;
    width: 100%;
    height: auto;
}
.aboutMe {
    font-size: 2rem;
    margin-left: 432px;
    color: #f2fcec;
}
.resumeClass{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    /* box-shadow: 5px 5px 50px rgb(56, 55, 55); */
    border-radius: 10px;
}
.resumeClass h1{
    position: absolute;
    margin:0 400px ;
}
.myself{
    position: relative;
    /* margin-right: 30px; */
}
.myself img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.briefs{
    width: 100%;
    height: auto;
    margin: 20px 0px 0px 30px;
    font-size: 1rem;
    font-family: serif;
    padding: 30px 0;
    font-size: 1.2rem;
    overflow-wrap: break-word;
}
.wannaKnow{
    font-size: 1.3rem;
    text-align: center;
}
.wannaKnow a{
    color: purple;
}
@media (max-width: 768px) {
    .resumeClass {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .aboutMe {
        font-size: 1.8rem;
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
        text-align: justify; 
    }
    .briefs {
        margin:10px 0;
        font-size: 0.9rem;
    }
    .myself{
        position: relative;
        margin-top: 20px;
    }
    .myself img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 480px) {
    #resume {
        padding: 20px;
    }
    .myself img {
        width: 200px;
        height: 200px;
    } 
    .aboutMe {
        font-size: 1.5rem;
        margin-left: 0;
        text-align: center;
        padding: 5px 0; 
    }
    .briefs{
        font-size: 0.8rem;
        overflow-wrap: break-word;
        text-align: justify;
    }
    .wannaKnow {
        font-size: 1.1rem;
    }
    .wannaKnow a {
        font-size: 1.2rem;
    }
}


/* Portfolio */
#portfolio {
    padding: 50px 20px;
    margin-top: 100px;
}

.portfolioIntro {
    color: #f2fcec;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.projectGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.projectSolar {
    flex: 1 1 calc(28% - 30px);
    max-width: calc(28% - 30px);
    height: auto;
    border-radius: 15px;
}
/* .projectSolar::after {
        content: '';
        position: absolute;
        width: 870px;
        height: 300px;
        background: #fff;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.6s;
}

.projectSolar:hover::after {
    transform-origin: left;
    transform: scaleX(1);
} */
    

.projectSolar img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.cs{
    display: flex;
    flex-wrap: wrap;
}

/* contact section and skills */
#skills {
    flex: 1;
    background-color: rgb(20, 4, 54);
    border: 15px solid rgb(10, 5, 20);
    border-radius: 20px;
    padding: 25px 20px;
    margin: 20px;
    min-width: 300px;
}

#skills {
    color: #f2fcec;
}

.skill {
    display: flex;
    align-items: center;
    margin: 0;
}

.skillName {
    color: #f2fcec;
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 20px; 
    text-decoration: underline;
}

.skillsLabel {
    font-size: 1.5em;
    font-weight: 600;
    position: relative;
    margin: 20px 50px;
}

.htmlradio, .jsradio, .cssradio, .sqlradio, .phpradio { 
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px 20px 10px 70px;
}

.htmlradio {
    background-color: rgb(227, 76, 38);
}

.cssradio {
    background-color: rgb(86, 61, 124);
}

.jsradio {
    background-color: rgb(241, 224, 90); 
}

.phpradio {
    background-color: rgb(79, 93, 149);
}
.sqlradio{
    background-color: rgb(6, 63, 2);
}
.htmlbox {
    height: 5px;
    width: 90px;
    background-color: #f2fcec;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
}

.htmlbox2 {
    height: 5px;
    width: 80px;
    border: none;
    background-color: rgb(227, 75, 38);
    border-radius: 30px;
}

.cssbox2 {
    height: 5px;
    width: 70px;
    border: none;
    background-color: rgb(86, 61, 124);
    border-radius: 30px;
}

.jsbox2 {
    height: 5px;
    width: 60px;
    border: none;
    background-color: rgb(241, 224, 90);
    border-radius: 30px;
}

.phpbox2 {
    height: 5px;
    width: 50px;
    border: none;
    background-color: rgb(79, 93, 149);
    border-radius: 30px;
}

#contact {
    flex: 1;
    background-color: rgb(20, 4, 54);
    border: 15px solid rgb(10, 5, 20);
    border-radius: 20px;
    padding: 25px 20px;
    margin: 20px;
    min-width: 300px;
}

.connectMsg {
    color: #f2fcec;
    font-size: 1.5em;
    font-weight: 600;
}

#contact form {
    width: 100%;   
}

.contactMsg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
}

.forEmail {
    flex: 1 1 48%;
    min-width: 200px;
    margin-bottom: 20px;
}

.enterEmailMsg {
    color: #f2fcec;
    font-size: 1em;
}

.forEmail input {
    width: 100%;
    min-height: 50px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 0px 20px;
}

.forEmailMsg {
    width: 100%;
}

.forEmailMsg textarea {
    width: 100%;
    min-height: 80px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px 15px;
}

.btnn {
    width: 100%;
    background-color: black;
    color: #f2fcec;
    height: 40px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}
/* footer */
.footer{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    background: #e2e9fc;
    border: 15px solid rgb(10, 5, 20) ;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
footer ul{
    list-style: none;
}
footer ul#social{
    list-style: none;
    text-align: right;
}
footer ul#social li{
    display: inline-block;
    margin-left: 1rem;
}
footer ul#social a{
    text-decoration: none;
    color: black;
    font-size: 2rem;

}
footer ul#social a:hover{
    text-decoration: none;
    color: #527cec;
}

.copyRight{
    text-align: center;
    margin: 15px 0 ;
    color: #f2fcec;
    font-size: 0.8rem;
}
/* Media Queries */
@media (max-width: 768px) {
    .box{
    width: auto;
    justify-content: space-around;
    padding: 0px 30px;
    margin: 0 10px;
    }
    .nameIntro {
        font-size: 2rem;
        font-family: 500;
    }

    .intro h1 {
        font-size: 1rem;
    }

    .resumeCoding, .resumeGuitar, .resumeAstro {
        width: 100%;
        margin: 20px 0;
    }

    .resumeCoding img, .resumeGuitar img, .resumeAstro img {
        max-width: 200px;
    }

    .projectSolar {
        flex: 1 1 100%;
        max-width: 100%;
    }
    #social li{
        display: inline-block;
        text-decoration: none;
    }
}

/* @media (max-width: 480px) {
    header {
        padding: 20px;
    }

    .nameLogo {
        font-size: 1.5em;
    }

    .navigation a {
        font-size: 0.9em;
        margin: 0 5px;
    }

    .box img {
        height: 200px;
    }

    .nameIntro {
        font-size: 1.5rem;
    }

    .intro h1 {
        font-size: 1.2rem;
    }

    .resumeCoding img, .resumeGuitar img, .resumeAstro img {
        max-width: 150px;
    }

    .portfolioIntro {
        font-size: 2rem;
    }
} */
